In [7]:
import os 
import pandas as pd 
from urllib.request import urlopen
import json

In [6]:
## read in api key
with open('../.fmp_api.key') as f:
    api_key = f.read().strip()

In [8]:
## parameters
start_date = '2015-01-01' 
end_date = '2024-12-31'
sp500 = '^GSPC'

In [13]:
def get_index_prices(url):
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return (pd.DataFrame(json.loads(data))
            .loc[:,['date','close','changePercent']]
            .assign(date = lambda x: pd.to_datetime(x['date']))
            .set_index('date')
    )

url = (f"https://financialmodelingprep.com/stable/historical-price-eod/full?symbol={sp500}&from={start_date}&to={end_date}&apikey={api_key}")
sp_prices = get_index_prices(url)

In [35]:
(
    sp_prices
    .sort_index(ascending=True)
    .loc['2023-01-01':]
    .close
    .pct_change()
    .dropna()
    .add(1)
    .cumprod()
    .sub(1)
)

date
2023-01-04    0.007539
2023-01-05   -0.004194
2023-01-06    0.018551
2023-01-09    0.017769
2023-01-10    0.024871
                ...
2024-12-24    0.579453
2024-12-26    0.578807
2024-12-27    0.561358
2024-12-30    0.544648
2024-12-31    0.538024
Name: close, Length: 501, dtype: float64

In [33]:
(
    sp_prices
    .sort_index(ascending=True)
    .loc['2023-01-01':]
    .assign(chg = lambda x: x.close.pct_change())
)

              close  changePercent       chg
date
2023-01-03  3824.14       -0.75650       NaN
2023-01-04  3852.97        0.32835  0.007539
2023-01-05  3808.10       -0.82401 -0.011646
2023-01-06  3895.08        1.88000  0.022841
2023-01-09  3892.09       -0.47893 -0.000768
...             ...            ...       ...
2024-12-24  6040.05        0.92604  0.011043
2024-12-26  6037.58        0.20930 -0.000409
2024-12-27  5970.85       -0.58806 -0.011052
2024-12-30  5906.95       -0.23173 -0.010702
2024-12-31  5881.62       -0.64395 -0.004288

[502 rows x 3 columns]